.sidebar

	&__post
		display: flex
		min-height: 180px
		flex-direction: column
		justify-content: space-between
		margin-bottom: 15px
		padding-bottom: 17px
		border-bottom: 1px solid $grey-3
		position: relative

		&_category
			position: absolute
			top: 9px
			right: 7px

		&_pic	

		&_link
			display: block
			font-size: 13px
			line-height: 14px

		&_link_hover
			&:hover
				color: $orange		

.list-info

	&__item
		line-height: 1

		&_date
			font-weight: 400
			color: $orange